/* -------------------------------------------- */
/* Reset                                        */
/* -------------------------------------------- */

/* Source: https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
p {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for buttons */
button,
input {
  font: inherit;
}

/* -------------------------------------------- */
/* General Styles                               */
/* -------------------------------------------- */

body {
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    color: hsl(0 0% 5%);
}

main {
  padding: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* -------------------------------------------- */
/* Specific Styles                               */
/* -------------------------------------------- */

/* Header */

header {
    display: flex;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    padding: 20px;
    gap: 7px;
    justify-content: center;
}

.website-title {
    font-size: 21px;
    letter-spacing: -0.1em;
    color: #fff;
}

/* Form */

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  max-width: 477px;
}

#generate-button {
  width: 100%;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  border: none;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.1em;
  color: #fff;
  cursor: pointer;
  margin-bottom: 36px;
}

/* Meme */

.meme {
  position: relative;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

#top-phrase,
#bottom-phrase {
  width: 48%;
  max-width: 230px;
  height: 35px;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  text-indent: 11px;
}